# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcworkspace/
/ios/ServiceDefinitions.json
# Pods - https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are outlined at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# Pods/

# Android specific
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/libraries/
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Build files
flutter_app_build/
dist/

# Sensitive files
.env
secrets.json

# Generated code
lib/**/*.g.dart
lib/**/*.freezed.dart
